<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>
    <div class="box-container">
        <div class="box">
            <img src="https://img.freepik.com/free-photo/fun-3d-cartoon-casual-character_183364-80059.jpg?w=740&t=st=1664192783~exp=1664193383~hmac=268f1f55ab8478b1dda445ee8672c35882bb35224d6a496493b4a9f6c10adfcd" />

        </div>
        <div class="content">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <h3>Cryptocurrency Mining Server</h3>
            <p>
                Bitcoin is decentralized digital currency without a central bank or single
                admininstrator, that can be sent from farhan?
            </p>
            <a href="#" class="btn">add to service</a>
            <span class="price">$12.99</span>
        </div>
    </div>
  
   
    <style>
        .btn {
            margin-left: 10px;
            background: rgb(134,143,109);
            height: 44px;
        }
        .box-container{
            display: grid;
            gap: 1.5rem;
        }
        .box-container .box{
            background:#fff;
            border: .1rem solid rgba(0,0,0,.2);
            border-radius: .5rem;
        }
            .box-container .box .img{
                height:25rem;
                width: 100%;
                padding: 1.5rem;
                overflow:hidden;
                position:relative;
            }
           
    </style>
</body>
</html>