<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -Crypto</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

           
        <div class="body-content">
            <div class="b-title">
                <h1>Cryptocurrency</h1>
                <p>
                    Crypto is a digital currency that can be used to buy goods and services, but
                    uses an online ledger with strong cryptography to secure online transactions.
                </p>
                <a href="#">Start Now</a>
                <a asp-area="" asp-controller="Crypto" asp-action="About" class="btn">Learn Now</a>
            </div>
            <div class="b-image">
                <img src="https://www.finance-monthly.com/Finance-Monthly/wp-content/uploads/2022/02/Bitcoin-Motion_-The-Website-You-Need-To-Succeed-In-Cryptocurrency-Is-Now-Launched.jpg" alt="image">
            </div>
        </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
   
    @*<script type="text/javascript">
        function fun1() {
            mycrp.style.background = 'rgb(204, 140, 20)';
            mycrp.style.color = 'white'
        }
        var mycrp = document.getElementById('crypto');
        mycrp.addEventListener("mouseover", fun1);
    </script>*@
</body>
</html>